
*.bak
*.ini
*.pyc
*.ini
*.ini
.spyproject/config/workspace.ini
*.ini
.spyproject/config/workspace.ini
*.ini
.spyproject/config/workspace.ini
.spyproject/config/workspace.ini
*.ini
.spyproject/config/workspace.ini
*.pyc
.spyproject/config/workspace.ini
.spyproject/config/workspace.ini
.spyproject/config/workspace.ini
*.ini
*.ini
.spyproject/config/workspace.ini
*.pyc
python/gismap/tiles/web/error.log
*.ini
*.gdx
python/django-site/django-interactive-charts-master/db.sqlite3
.spyproject/config/workspace.ini
